body {
  font-family: sans-serif;
  margin: 0;
}

.content {
  margin: 20px 60px 20px 60px;
}

section {
  padding-top: 40px;
}

header {
  text-align: center;
  padding: 30px 0 30px 0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-color: rgb(93, 93, 93);
  background-blend-mode: multiply;
  font-size: 2em;
  color: #F2EDEB;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}